.header {
  padding-top: 45px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 41px;
}

.header:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
  left: 0;
  top: 100%;
  position: absolute;
}

@media screen and (max-width: 980px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }

  .logo {
    padding-left: 27px;
    width: 126px;
    height: 24px;
  }
}
