.header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 80px;
  background: #cf0a0a;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.header__title {
  font-size: 28px;
  font-family: "Tilt Neon", sans-serif;
  line-height: 28px;
  font-stretch: 1.2;
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.header:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
  left: 0;
  top: 100%;
  position: absolute;
}

@media screen and (max-width: 980px) {
  .header {
  }
}
