.menu {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  position: fixed;
  top: 140px;
  left: 100px;
}

.menu__container {
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__image {
  fill: #fff;
}

.menu__item {
  height: 30px;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.menu__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu__link:hover {
  color: #a60202;
}

.menu__image {
  margin-right: 12px;
}

.menu__button {
  font-family: "Figtree", sans-serif;
  border: none;
  border-radius: 10px;
  background: #cf0a0a;
  color: #fff;
  cursor: pointer;

  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;

  width: 160px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  transition: all 0.3s;
}

.menu__button:hover {
  background: #a60202;
}
