.poll {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  max-width: 540px;
}

.poll__header {
  display: flex;
  gap: 12px;
  margin: 0;
}

.poll__image {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  object-fit: cover;
}

.poll__header-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.poll__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.poll__address {
  margin: 0;
  line-height: 24px;
}

.poll__description {
  margin: 0;
  color: #353535;
}

.poll__body {
  margin-top: 20px;
  display: grid;
  gap: 8px;
}

.poll__options-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 12px;
}

.poll__options-item {
  padding: 12px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.poll__options-item:hover {
  background: #ffcea8;
  border: 1px solid #ffcea8;
}

.poll__votes {
  transform: scaleX(1);
}

.poll__votes_hiden {
  transform: scaleX(0);
  visibility: hidden;
}

.poll__options-item_hiden {
}

.poll__options-item_reveal {
  justify-content: space-between;
}

.poll__option {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.poll__votes {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .poll {
    border-radius: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    max-width: 540px;
  }
  .poll__header {
    flex-direction: column;
    gap: 12px;
    margin: 0;
  }

  .poll__image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
  }
}
